<div class="w3-card-4 header-flex">
    <%= render partial: "layouts/header" %>
</div>

<%= render partial: "layouts/navbar" %>
<%= render partial: "layouts/main" %>
<%= render partial: "layouts/footer" %>