<div class="w3-bar" id="header-navbar">

    <div class="w3-left">
        <!-- Items if user is signed in -->
        <% if user_signed_in? %>
            <% menuItems = [
                ["Home",root_path, true], 
                ["Profile",edit_user_registration_path, false], 
                ["Players", "#", false],
                ["Matches", matches_path, false],
                ["Posts",posts_path, true], 
            ]%>
            <% menuItems.each do |linkName, linkPath, linkShow| %>
                <%= link_to linkName, linkPath, class: linkShow ? "w3-bar-item w3-button w3-ripple w3-hover-indigo w3-round w3-hide-small" : "w3-bar-item w3-button w3-ripple w3-hover-indigo w3-round" %>
            <% end %>
        <% end %>
    </div>

    <!-- Login / Logout Button -->
    <div class="w3-right">
        <% if user_signed_in? %>
            <%= button_to "Log Out", destroy_user_session_path,
                method: :delete,
                class: "w3-bar-item w3-button w3-theme-action w3-round"
            %>
        <% else %>
            <%= link_to "Log In", new_user_session_path,
                class: "w3-bar-item w3-button w3-theme-action w3-round"
            %>
        <% end %>
    </div>
</div>